java/xml/binding/modular/errp/plannedresourceschedule/planned-resource-schedule-document_v3r1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ecc="etso-core-cmpts.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecc:VersionRelease="7.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="etso-core-cmpts.xsd" schemaLocation="etso-core-cmpts.xsd"/>
	<!--
			ETSO Document Automatically generated from a UML class diagram using XMI. 
			Generation tool version 1.7
		-->
	<xsd:element name="PlannedResourceScheduleDocument">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation/>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentVersion" type="ecc:VersionType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentType" type="ecc:MessageType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ProcessType" type="ecc:ProcessType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentDateTime" type="ecc:MessageDateTimeType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TimePeriodCovered" type="ecc:TimeIntervalType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Domain" minOccurs="0" maxOccurs="1" type="ecc:AreaType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SubjectParty" minOccurs="0" maxOccurs="1" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SubjectRole" minOccurs="0" maxOccurs="1" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" maxOccurs="unbounded" name="PlannedResourceTimeSeries" type="PlannedResourceTimeSeries_Type"/>
				<xsd:element minOccurs="0" maxOccurs="unbounded" name="UnavailableReservesTimeSeries" type="UnavailableReservesTimeSeries_Type"/>
			</xsd:sequence>
			<xsd:attribute name="DtdVersion" type="xsd:string" use="required"/>
			<xsd:attribute name="DtdRelease" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PlannedResourceTimeSeries_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TimeSeriesIdentification" type="ecc:IdentificationType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessType" type="ecc:BusinessType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Direction" minOccurs="0" maxOccurs="1" type="ecc:DirectionType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Product" type="ecc:EnergyProductType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConnectingArea" type="ecc:AreaType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ResourceObject" minOccurs="0" maxOccurs="1" type="ecc:ResourceObjectType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ResourceProvider" type="ecc:PartyType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AcquiringArea" minOccurs="0" maxOccurs="1" type="ecc:AreaType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CapacityContractType" minOccurs="0" maxOccurs="1" type="ecc:ContractType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CapacityAgreementIdentification" minOccurs="0" maxOccurs="1" type="ecc:IdentificationType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeasurementUnit" type="ecc:UnitOfMeasureType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObjectAggregation" minOccurs="0" maxOccurs="1" type="ecc:ObjectAggregationType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="Period" type="Period_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Period_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Resolution" type="ecc:ResolutionType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="Interval" type="Interval_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Interval_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Pos" type="ecc:PositionType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Qty" type="ecc:QuantityType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnavailableReservesTimeSeries_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TimeSeriesIdentification" type="ecc:IdentificationType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessType" type="ecc:BusinessType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Direction" minOccurs="0" maxOccurs="1" type="ecc:DirectionType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Product" type="ecc:EnergyProductType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConnectingArea" type="ecc:AreaType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ResourceProvider" type="ecc:PartyType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubstituteResourceProvider" minOccurs="0" maxOccurs="1" type="ecc:PartyType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AcquiringArea" type="ecc:AreaType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CapacityContractType" minOccurs="0" maxOccurs="1" type="ecc:ContractType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CapacityAgreementIdentification" minOccurs="0" maxOccurs="1" type="ecc:IdentificationType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeasurementUnit" type="ecc:UnitOfMeasureType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="Period" type="Period_Type"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
